page-info-document {
button.button-group {
		background-color: white;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	label {
		color: #67aaf9;
	}
	
	ion-content.content.content-md {
		background-color: white !important;
	}


}
