page-edit-folder {
	button.disable-hover.button.button-md.button-default.button-default-md.button-round.button-round-md {
		background-color: #67aaf9;
		margin-top: 20px;
	}
	ion-content.content.content-md {
		background-color: white !important;
	}
	ion-item.item.item-block.item-md {
		background-color: white;
	}
}
