<ion-header>

	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Lưu trữ ({{totalFolder}})</ion-title>
		<ion-buttons end> 
			<button class="add" ion-button icon-only (tap)="addFolder()"> 
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-buttons> 
	</ion-navbar>

</ion-header>

<ion-content padding>

	<ion-list>
		<ion-item-sliding class="folder-list" *ngFor="let folder of folders">
			<ion-item nopadding (tap)="moveToFolder(folder.folderid,folder.name);" *ngIf="folder.display!='no'">
				<ion-row>
					<ion-col col-5>
						<ion-icon class="md-folder" name="md-folder"></ion-icon>
					</ion-col>
					<ion-col class="itemfolder" >
						<h2 class="titcard">{{folder.name}}</h2>
						<p class="titcard">{{folder.date | date: 'H:mm dd/MM/yyyy'}}</p>
						<p class="cate">{{folder.type}}</p>
					</ion-col>
				</ion-row>
			</ion-item>
			<ion-item-options side="right">
				<button ion-button class="edit" >
					<img class="group" src="../../assets/imgs/edit.png" (click)="editFolder(folder.folderid,folder.name)" style="width: 20px; height: 20px;">
				</button>
				<button ion-button  class="delete" (click)="deleteFolder(folder.folderid)">
					<img class="group" src="../../assets/imgs/delete.png" style="width: 20px; height: 20px;">
				</button>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>

</ion-content>